<!-- templates/signup.html -->

{% extends 'base.html' %}
{% block title %}<title>Register</title>{% endblock %}


{% block content %}

<div id="index-user-section" class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="col-md-12">
            <h1>Welcome!</h1>
            <p>Set up a profile to follow specific pieces of legislation and get suggestions based on your interests.</p>
            <div class="col-md-4"></div>
            <a href="{% url 'citizen_signup' %}" class="btn btn-default col-md-4" role="button">REGISTER</a>
        </div>
        <div class="col-md-12">
            <h1>Just checking us out?</h1>
            <p>You can search the database of active bills or find info on your TD without creating a profile.</p>
            <div class="col-md-2"></div>
            <a href="{% url 'bill:tags' %}" class="btn btn-default col-md-4" role="button">BILLS</a>
            <a href="{% url 'bill:td-list' %}" class="btn btn-default col-md-4" role="button">DEPUTIES</a>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>

{% endblock %}
