/**************************************

BILLOW SITE

-- COLOUR PALETTE --

>> Logo-Purple  : #54004A	rgb(84, 0, 74)
>> Yellow		: #DAD716	rgb(218, 215, 22)
>> Crimson		: #DC143C	rgb(220, 20, 60)	(same as adobe "crimson")
>> Blue			: #075887	rgb(7, 88, 135)



**************************************/




/**************************************/


body, html {
	font-family: 'Rubik', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
}
h1 {
	font-weight: 300;
}
h1 strong {
	font-weight: 500;
}
h2 {
	line-height: 20px;
	font-size: 32px;
	font-weight: 300;
	margin: 0;
	color: #555;
}
h3 {
	font-size: 16px;
	font-weight: 300;
}
h4 {
	font-size: 20px;
	color: #666;
}
h5 {
	text-transform: uppercase;
	font-weight: 300;
	line-height: 20px;
}
p {
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
}
a {
	color: purple;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}
hr {
	height: 3px;
	width: 60px;
	text-align: center;
	position: relative;
	background: #54004a;
	border: 0;
	margin: 10px auto 30px;
}
/* Navigation */

/* # Header, Main Menu
================================ */

.navbar {
  opacity: 0.9;
  margin-bottom: 0;
  background-color: #fff;
  transition: all 0.2s ease-out;
  border: 0px;
}

.navbar-container {
	position: relative;
}

.navbar .navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #54004a;
  transition: all 0.2s ease-out;
}

.navbar .navbar-nav li a:hover {
  color: #DAD716;
}

.navbar-brand {
  font-size: 25px;
  transition: all 0.2s ease-out;
}

.navbar-scroll {
  opacity: 1;
}

.navbar-toggle{
    @media(max-width:1199px) {
        display: block !important;
    }
}

@media (min-width: 768px) {
  .navbar {
    height: 50px;
  }

  .navbar-nav>li>a {
    padding: 0;
    margin-top: 15px;
    margin-left: 50px;
    line-height: 40px;
  }

  .navbar-brand {
    font-size: 28px;
    margin-top: 10px;
    height: 50px;
    line-height: 40px;
  }

  /* Navbar when scrolled */

  .navbar-scroll {
    height: 45px;
	padding-top: 5px;
  }

  .navbar-scroll #top-social-menu {
    display: none;
    transition: all 0.2s ease-out;
  }

  .navbar-scroll .navbar-brand {
    height: 50px;
    line-height: 40px;
	  margin-top: -5px;
  }

  .navbar-scroll .navbar-nav>li>a {
    opacity: 1;
    padding: 0;
    margin-top: 0;
  }
}

/*********

#menu {
	padding: 10px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(231, 231, 231, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #54004a;
	font-weight: 300;
}
#menu a.navbar-brand i.fa {
	color: rgba(255,255,255,0);
	margin-right: 3px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #54004a;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #DAD716;
}
.on {
	background-color: transparent !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #54004a !important;
	background-color: #fff;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #54004a;
	border-color: #54004a;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}


*********/

/* Home Style */
header {
	/*background: url(../img/bg-wave-2.jpeg) no-repeat bottom right;*/
	background-color:#fff;
	background-size: cover;
	color: #54004a;
	position: relative;
	height: 100%;
}
header p {
	color: #54004a;
	font-size: 20px;
	margin-bottom: 80px;
}
.intro-text {
	position: relative;
	padding-top: 200px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 100px;
}
.intro-text H1 {
	font-size: 60px;
	text-transform: uppercase;
	color: #54004a;
}
.btn-default {
	color: #fff;
	font-family: 'Rubik', sans-serif;
	background-color: #222;
	border: 2px solid rgba(255,255,255,0.8);
	margin: 0 8px;
	padding: 12px 24px;
	font-size: 16px;
	transition: all 0.5s;
	border-radius: 4px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #54004a;
	color: #fff;
	border-color: #fff;
}

.btn-back {
    color: #54004a;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    transition: all 0.5s;
}

.btn-back:hover, .btn-back:focus, .btn-back.focus, .btn-back:active, .btn-back.active {
    color: #DAD716;
}

#index-user-section{
    padding: 120px 0;
}

#index-user-section h1{
    font-size: 30px;
    color: #54004a;
    text-align:center;
    margin-top: 100px;
}

#index-user-section h2{
    font-size: 20px;
    color: #54004a;
    text-align:center;
    padding: 20px;
}

#index-user-section p{
    font-size: 15px;
    color: #222;
    text-align:center;
    padding: 10px;
}

.my-bill-li {
    text-align:left;
}

.auth-intro-text h1 {
    font-size: 30px;
    color: #54004a;
    text-align:center;
    margin-top: 100px;
}

.auth-intro-text {
    font-size: 15px;
    color: #54004a;
    text-align:center;
    margin: 10px;
}

.index-bill-box {
    border: 2px solid #DAD716;
    margin-top:100px;
}

/* Profile Page */

.profile-bill-list {
    padding: 10px;
    border-top: 2px solid #54004a;
}

.profile-bill-list h1 {
    font-size:20px;
    color: #54004a;
}

.profile-bill-list h4 {
    font-size:10px;
    color: #DAD716;
    margin: -1% 0 0 0;
    text-align: right;
}

.profile-bill-list p {
    font-size:15px;
    color: #222;
}

.profile-bill-list-tags p {
    font-size:15px;
    color: #222;
}

.profile-box {
    border: 2px solid #DAD716;
    padding-bottom: 40px;
}

.profile-info {
    padding: 10px;
}

.profile-info h1 {
    font-size:20px;
    color: #54004a;
    text-transform: uppercase;
}

.profile-info p {
    font-size:15px;
    color: #222;
}

.share-btn {
    font-size:30px;
    color: #fff;
}

/* Deputy Page */

.id-card {
    border: 2px solid #DAD716;
    padding: 40px;
}

.id-card h3{
    font-size:20px;
    color: #54004a;
    text-transform: uppercase;
}

.id-card h5{
    font-size:16px;
    color: #222;
    text-transform: capitalize;
}



/* Services Section */
#services-section {
	padding: 120px 0;
	background-color: #fff;
}
#services-section h4 {
	font-weight: 700;
}
.space {
	margin-top: 40px;
}

.little-space {
    height: 5px;
}

#services-section i.fa {
	font-size: 40px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #54004a;
}
/* Gallery Section 
==============================*/
#works-section {
	padding: 120px 0;
	background-color: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #aaa;
	border: 1px solid #ddd;
	padding: 8px 16px;
	border-radius: 0;
}
ol.type li a.active {
	color: #54004a;
	border: 1px solid #54004a;
}
ol.type li a:hover {
	color: #54004a;
	border: 1px solid #54004a;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 170px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 17% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #ffffff;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#works-section i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #F5AB35;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #F5AB35;
}
/* About Section */
#about-section {
	padding: 120px 0;
}
#about-section p {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #fff
}

.about-container {
    
}

/* Tags Page */

.tags-section {
    padding: 20px 0;
}

.tags-section h1{
    font-size: 30px;
    color: #54004a;
    text-align:center;
}

.tags-section h2{
    font-size: 20px;
    color: #54004a;
    text-align:center;
    padding: 20px;
}

.tags-section p{
    font-size: 15px;
    color: #222;
    text-align:center;
    padding: 10px;
}

/* Team Section */
#team-section {
	padding: 100px 0;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2 {
	margin-bottom: 30px;
}
img.img-circle.team-img {
	width: 150px;
	height: 150px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#team-section .team .thumbnail:hover>img.img-circle.team-img {
	border: 4px solid #fff;
	font-size: medium;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 9px;
}
/* Achivements Section */
#achievements {
	padding: 80px 0;
	background-color: #0dbf9b;
}
.achievement-box {
	text-align: center;
	margin: 20px 0;
}
.achievement-box h4 {
	font-size: 16px;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
.achievement-box a {
	color: #fff;
	font-size: 50px;
	font-weight: 500;
	display: block;
}
/* Contact Section */
#contact-section {
	padding: 120px 0 60px 0;
	background-color: #f6f6f6;
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section i.fa {
	color: #54004a;
	font-size: 16px;
	margin-bottom: 10px;
}
label {
	font-size: 12px;
	font-weight: 200;
	font-family: 'Rubik', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .btn {
	background: transparent;
	border: 2px solid #12dbb2;
	border-radius: 4px;
	padding: 10px 20px;
	margin-top: 20px;
	color: #54004a;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #54004a;
	border: 2px solid #54004a;
	color: #fff;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Social Section */
#social-section {
	padding: 30px 0;
	background-color: #fff;
	text-align: center;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#social-section .social i.fa {
	font-size: 24px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#social-section .social i.fa:hover {
	color: #666;
}
/* Footer */
#footer {
	background-color: #fff;
	color: #777;
	padding: 15px 0 5px 0;
	text-align: center;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}
#footer a {
	color: #999;
}
#footer a:hover, a:focus {
	text-decoration: none;
	color: #54004a;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}

/**** SHAPES ****/

#rectangle-red {
	width: 50%;
	height: 100px;
	background: red;
	text-align: left;
}

#rectangle-blue {
	width: 50%;
	height: 100px;
	background: blue;
	text-align: right;
}

#rectangle-mauve {
	width: 100%;
	height: 100px;
	background: #54004a;
	text-align: right;
}


#diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: black;
	position: relative;
	top: -50px;
}
#diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: black;
}

/****** BILL PAGES ******/

.bill-container {
	position: relative;
	margin-top: 6%;
	margin-bottom: 6%;
	background-color: #fff;
}

.bill-section-title {
	background-color: #fff;
	padding: 10px;
	border-top: 2px solid #54004A;
}

.bill-section-title h2{
	color: #54004A;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.bill-update h3{
    color: #DAD716;
}

.bill-description h3{
	font-size: 18px;
	color: #54004a;
}

.tag-box-title {
	background-color: #fff;
	border-top: 2px solid #54004A;
}

.tag-box-title h3, .bill-stats-title h3{
	color: #54004A;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
}

.tag-pic {
	text-align: center;
}

.tag-box {
	background-color: transparent;
	color: #222;
	text-align: center;
}

.bill-stats-title {
	background-color: #fff;
	border-top: 2px solid #54004A;
	margin-top: 10px;
}

.bill-stats p{
	
}

.bill-stats h3{
	font-size: 18px;
	color: #54004a;
	margin: 5px 0;
}

.pro-con-header {
	background-color: rgba(84, 0, 74, 1);
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

.pro {
	background: linear-gradient(180deg, #0D8448, #A5D3BB, transparent);
	color: #222;
	padding: 10px;
	height: 130px;
	border-right: 2px solid #54004A;
}

.con {
	background: linear-gradient(180deg, #DC143C, #D891A2, transparent);
	color: #222;
	padding: 10px;
	height: 130px;
	border-left: 2px solid #54004A;
}

.pro h3, .con h3{
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 10px;
}

.take-action {
	background-color: crimson;
	color: white;
	padding: 20px;
	margin-top: 10px;
}

.take-action-bar-space {
	height: 60px;
}

.take-action-bar {
	background-color: #222;
	width: 100%;
	position: absolute;
	margin-left: -20px;
	margin-top: -20px;
	height: 60px;
	padding-left: 20px;
}

.take-action-bar h3{
	font-size: 30px;
	text-transform: uppercase;
}

.action-info {
	font-size: 16px;
    margin-top:-10px;
}

/* The radio container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #222;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #DAD716;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*************************************/

.riding-list {
	color: #222;
}

.riding-list-submit {
	color: #222;
	padding: 10px;
	border-radius: 5%;
}

.riding-list-submit:hover {
	color: #222;
	background-color: #DAD716;
	padding: 10px;
	border-radius: 5%;
}

.tdsinfo {
    font-size:16px;
}

.petition-btn {
	background-color: #fff;
	color: #222;
	padding: 10px;
	width: 100%;
	text-align: center;
    font-size:15px;
    margin-bottom:15px;
}

.petition-btn:hover {
	background-color: #DAD716;
}

.action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn-default {
	color: #fff;
	font-family: 'Rubik', sans-serif;
	background-color: #54004a;
	border: 2px solid rgba(255,255,255,0.8);
	margin: 0 8px;
	padding: 12px 20px;
	width: 80%;
	font-size: 16px;
	transition: all 0.5s;
	border-radius: 4px;
}
.action-btn-default:hover, .action-btn-default:focus, .action-btn-default.focus, .action-btn-default:active, .action-btn-default.active {
	background-color: #DAD716;
	color: #fff;
	border-color: #fff;
}

/***** CAROUSEL FOR BILL STATUS *********/

.car-container {
  margin: 20px auto;
  width: 100px;
  height: 50px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 80%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.car-item {
  display: block;
  position: absolute;
  background: #fff;
  width: 80%;
  height: 100%;
  padding-top: 10px;
  line-height: 10px;
  font-size: 10px;
  text-align: center;
  color: #222;
  opacity: 0.9;
  border-radius: 20px;
}

.current-stage {
	border: 2px solid #DAD716;
}

.a {
  transform: rotateY(0deg) translateZ(150px);
  background: #fff;
}
.b {
  transform: rotateY(30deg) translateZ(150px);
  background: #fff;
}
.c {
  transform: rotateY(60deg) translateZ(150px);
  background: #fff;
}
.d {
  transform: rotateY(90deg) translateZ(150px);
  background: #fff;
}
.e {
  transform: rotateY(120deg) translateZ(150px);
  background: #fff;
} 
.f {
  transform: rotateY(150deg) translateZ(150px);
  background: #fff;
}
.g {
  transform: rotateY(180deg) translateZ(150px);
  background: #fff;
}
.h {
  transform: rotateY(210deg) translateZ(150px);
  background: #fff;
}
.i {
  transform: rotateY(240deg) translateZ(150px);
  background: #fff;
}
.j {
  transform: rotateY(270deg) translateZ(150px);
  background: #fff;
}
.k {
  transform: rotateY(300deg) translateZ(150px);
  background: #fff;
}
.l {
  transform: rotateY(330deg) translateZ(150px);
  background: #fff;
}

.next, .prev {
  color: #54004A;
  font-size: 40px;
  position: absolute;
  top: 230px;
  padding: 1em 1em;
  margin: 0 -238px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border-top: 1px solid transparent;
}
.next:hover, .prev:hover { background-color: transparent; color: #DAD716;}
.next:active, .prev:active {
  top: 232px;
}
.next { right: 5em; }
.prev { left: 5em; }




/* TIMELINE */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #fff;
  padding: 50px 0;
  color: #fff;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #DAD716;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}
